namespace AdventOfCode;

/// <summary>
/// https://adventofcode.com/<YEAR>/day/<DAY>
/// </summary>
public class _<YEAR>_<DAY> : Problem
{
    public override void Parse()
    {
    }

    public override object PartOne()
    {
        return null;
    }

    public override object PartTwo()
    {
        return null;
    }
}